
.intro-1 {
  opacity: 0;
  width: 100%;
  height: auto;
  padding: 100px 0;
  color: white;
  background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

      -webkit-backface-visibility: hidden;
    -webkit-transition: opacity 500ms linaer;
    -moz-transition: opacity 500ms linear;
    -o-transition: opacity 500ms linear;
    -ms-transition: opacity 500ms linear;
    transition: opacity 500ms linear;
}
.intro-1 .intro-body-1 {
	position: relative;
	top: 40%;
  vertical-align: middle;
}
.intro-1 .intro-body-1 .brand-heading-1 {
  font-size: 40px;
}
.intro-1 .intro-body-1 .intro-text-1 {
  font-size: 18px;
}
@media (min-width: 768px) {
  .intro-1 {
    height: 100%;
    padding: 0;
  }
  .intro-1 .intro-body-1 .brand-heading-1 {
    font-size: 100px;
  }
  .intro-1 .intro-body-1 .intro-text-1 {
    font-size: 26px;
  }
}

 .block-order{

 	display: table;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;

}

.one {
  position: relative;
  top: 200px;
  margin:0 auto;
  width:90%
}
li.block-display {
  opacity: 0;
	position: center;
   display: block;
   float:right;
   clear:right;
   width:300px; // adjust
   height:150px; // adjust
       padding-top: 2vmin;
    padding-bottom: 2vmin;
    padding-right: 2vmin;
    padding-left: 2vmin;

      -webkit-backface-visibility: hidden;
    -webkit-transition: opacity 300ms linaer;
    -moz-transition: opacity 300ms linear;
    -o-transition: opacity 300ms linear;
    -ms-transition: opacity 300ms linear;
    transition: opacity 300ms linear;
}
.introvis{
    opacity: 0;
      -webkit-backface-visibility: hidden;
    -webkit-transition: opacity 300ms linear;
    -moz-transition: opacity 300ms linear;
    -o-transition: opacity 300ms linear;
    -ms-transition: opacity 300ms linear;
    transition: opacity 300ms linear;
}
.custom-content-section {
	 background-color: white;
	 color: black;
	  padding-top: 100px;
	 padding-right: 0px;
 	 padding-left: 0px;
 	 padding-bottom: 50px;
 	 margin-right: auto;
 	 margin-left: auto;
 	 text-align: left;
}

.custom-contact-section{
  text-align: center;
  display: table;
  width:100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top:30px;
}

.custom-about-section{
   background-color: white;
   color: black;
    padding-top: 100px;
   padding-right: 0px;
   padding-left: 0px;
   padding-bottom: 50px;
   margin-right: auto;
   margin-left: auto;
   text-align: center;
}

.small-text{
  font-size: 12px;
}

h1.num-headings {
  margin: 0 0 2px;
  text-transform: lowercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}