.custom-content-section {
	 background-color: white;
	 color: black;
	  padding-top: 100px;
	 padding-right: 15px;
 	 padding-left: 15px;
 	 margin-right: auto;
 	 margin-left: auto;
 	 text-align: center;

}